<section class="forgot">
    <div class="forgot__content">
        <i class="fa fa-chevron-left fa-2x forgot__chevron" routerLink="/login" routerLinkActive="active"></i>
        <div class="forgot__welcome">
            <h1 class="forgot__title">Recover your password</h1>
        </div>
        <div class="forgot__input">
            <form action="" class="forgot__form">
                <input type="email" class="form-control form__input mb-2" title="email" placeholder="Email address"
                    required>
                <button class="forgot__button mb-5" type="submit">Send recovery token</button>
                
                <input type="text" class="form-control mb-2 form__input" name="password" title="password"
                    placeholder="Recovery token" required>
                <input type="password" class="form-control mb-2 form__input" name="password" title="password"
                    placeholder="New password" required>
                <button class="forgot__button mb-2" type="submit">Change password</button>
            </form>
        </div>

    </div>
</section>