.forgot {
    height: 100vh;
    overflow: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.forgot__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forgot__chevron {
    position: absolute;
    top: 25px;
    left: 10%;
}

.forgot__welcome {
    font-weight: 700;
    color: var(--darkblue);
    margin-bottom: 10%;
}

.forgot__title {
    font-weight: 700;
    font-size: 2em;
}

.forgot__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.forgot__form {
    width: 100%;
}

.form__input {
    border-radius: 10px;
    height: 50px;
}

.forgot__button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--darkblue);
    border-color: var(--darkblue);
    color: #fff;
}