.landing {
    height: 100vh;
    overflow: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.landing__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 40%;
    height: 35px;
}

.img__mobile {
    width: 100%;
}

.img__desktop {
    display: none;
}

.landing__bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.landing__title {
    font-weight: 700;
    font-size: 2em;
}

.landing__text {
    font-weight: 400;
}

.landing__button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--darkblue);
    border-color: var(--darkblue);
    color: #fff;
}
