<section class="landing">
    <div class="landing__content">
        <img src="../../../assets/images/logo.svg" alt="Team Makr" class="logo">
        <img src="../../../assets/images/mobile.svg" alt="Desenvolvedor" class="img__mobile">
        <img src="../../../assets/images/desktop.svg" alt="Time" class="img__desktop">
        <div class="landing__bottom">
            <h1 class="landing__title">Find the perfect team</h1>
            <p class="landing__text">Building your project is way easier with the right people</p>
            <button class="landing__button" routerLink="/login" routerLinkActive="active">Get Started</button>
        </div>
    </div>
</section>