<section class="register">
    <div class="register__content">
        <i class="fa fa-chevron-left fa-2x register__chevron" routerLink="/login" routerLinkActive="active"></i>
        <div class="register__welcome">
            <h1 class="register__title">Register Account</h1>
        </div>
        <div class="register__input">
            <form action="" class="register__form">
                <input type="text" class="form-control form__input mb-4" title="name" placeholder="Name" required>
                <input type="text" class="form-control form__input mb-4" title="pronoun" placeholder="Pronouns">
                <input type="tel" class="form-control form__input mb-4" title="phone" placeholder="Phone Number">
                <input type="email" class="form-control form__input mb-4" title="email" placeholder="Email address"
                    required>
                <input type="password" class="form-control mb-4 form__input" name="password" title="password"
                    placeholder="Password" required>
                <button class="register__button mb-2" type="submit" routerLink="/register"
                    routerLinkActive="active">Register</button>
            </form>
        </div>

    </div>
</section>